
@importurl('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	margin:				0;
	font-family:		'Roboto', sans-serif;

	min-height:			100%;
	height:				100vh;
	display:			grid;
	grid-template-rows:	10rem auto 4rem;
}

main {
	max-width:			960px;
	width:				100%;
	margin:				auto;
}

header {
	background:			#d4d4d4;
	text-align:			center;
	padding:			2rem;
}

header img {
	max-width:			96px;
}

header h1 {
	font-size:			2.5em;
}

footer {
	margin-top:			1rem;
	text-align:			center;
	color:				#fff;
	background:			#f76c6c;
	padding:			none;
}

footer p {
	margin:				1rem 0 1rem 0;
}

h1, h2 {
	text-align:			center;
}

label {
	display:			block;
	margin-bottom:		0.5em;
}

#new-member-form {
	margin:				2rem 0 2rem 0;
	text-align:			center;
}

#member-list {
	padding:			0;
	display:			flex;
	flex-flow:			row wrap;

	justify-content:	flex-start;
	column-gap:			calc((100% - (25% * 3)) / 2);
	row-gap:			1rem;
	transition:			all 0.25s;
}

.member-item {
	background:			#d4d4d4;
	display:			inline;

	width:				25%;
	padding:			0.25rem 0 0.25rem 0;
	margin:				0;

	border:				none;
	border-radius:		0.25rem;

	text-align:			center;
	transition:			background 0.25s;
	font-weight:		bold;
}

.member-item-content {
	display:			inline;
}

.member-item-remove {
	color:				white;
	display:			none;
}

.member-item:hover > .member-item-content {
	display:			none;
}

.member-item:hover > .member-item-remove {
	display:			inline;
}

.member-item:hover {
	content:			"SUPPRIMER";
	background:			#f76c6c;
	cursor:				pointer;
}
